repos:
  - repo: local
    hooks:
      - id: treefmt
        name: treefmt
        entry: treefmt --fail-on-change
        language: system
        pass_filenames: false
        files: \.(nix|sh|md|json|yaml|yml|py|lua|sql|fish)$
