# The formatter multiplexer - https://github.com/numtide/treefmt

# The file to search for to find the tree root.
tree-root-file = "flake.nix"

# The method used to traverse the files within the tree root.
walk = "filesystem"
verbose = 2
# Do not exit with error if any changes were made during execution
fail-on-change = true

[formatter.alejandra]
command = "alejandra"
includes = ["*.nix"]

[formatter.nixpkgs-fmt]
command = "nixpkgs-fmt"
includes = ["*.nix"]

[formatter.deadnix]
command = "deadnix"
options = ["--hidden"]
includes = ["*.nix"]

[formatter.statix]
command = "statix"
options = ["check"]
includes = ["*.nix"]

[formatter.shfmt]
command = "shfmt"
options = ["-i", "2", "-s"]
includes = ["*.sh", ".*.sh"]

[formatter.ruff]
command = "ruff"
options = ["check", "--fix"]
includes = ["*.py"]

[formatter.prettier]
command = "prettier"
options = ["--write"]
includes = ["*.md", "*.json", "*.yaml", "*.yml"]
excludes = ["flake.lock", "secrets/*"]

